.spinner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #fff; /* Optional: white background */
  }
  
  .burger-spinner {
    width: 100px; /* Adjust size as needed */
    height: 100px;
    animation: spin 1.5s linear infinite;
  }
  .spinner-container p{
    font-size: 30px;
    font-weight: bold;
    color: #2a2828;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  